@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap');

*{margin: 0; padding: 0;} 

 *{box-sizing: border-box;
   font-family: 'Titillium Web', sans-serif;
}
/*{ border: solid 1px black; } */  
img{
     max-width: 100%;
}
 section {        
    display: flex;
    flex-direction: column;  
    align-items: stretch; 
    width: 100%;  
 }
 .container{
     width: 100%;
     max-width: 1440px;
     margin: 0 auto;
 }
/* *****************************
           Header
   ***************************** */

header{
    background-color:#87509c;  
    color: #ffffff;
}
    .logo{
        width: 116px;
        height: 36px;
        padding: 1rem;
        margin-top: 2rem;
        margin-left: 5rem;
    }  
    div .menu{
        margin-top: 3rem;
    }
.menu__list {
   list-style-type: none; 
   display: flex;  
   flex-direction: row;
   justify-content: flex-end;   
   margin-top: -70px;  
   margin-right: 50px;
}
li{   
    margin: 0 20px 0 20px;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.invitationtext p{    
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    font-size: 42px; 
    color: #f7f3ea;
    font-weight: 700;
}
.buttontofooter{
    font-size: 1.5rem;
    background-color: #eb7d4b;  
    margin: 0 auto;
    width: 250px ;
    height: 60px;  
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding:0;
    border-color: transparent;
    border-bottom-color: orange;
    border-bottom-width: medium;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
header form {
    padding:0;
    border:0;
}
.headerbutton{
    align-self: center;
    margin-top: 5%;
    padding: 0rem;
    border: 0rem;
}

/* *****************************
           Section_2
   ***************************** */

.page2{
  background-color: #17c2a4;  
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.page2__header {   
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}
.page2__text{
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}
.line{
    width: 87px;
    height: 4px;
    background-color: #000000;
   
    opacity: .4;
    margin: 0 auto;
}
.page2__imgtxt{
    padding-top: 50px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.page2 img{
    height: 100px;
    width: 100px;
}
.page2__imgtxt div{
    height: 40%;
    width: 15%;
}
.page2 p{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 100px;
}
.page2 h3{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-weight: 700;
    padding: 2rem;
}
/* *****************************
           Section_6
   ***************************** */

.page6{
    background-color:  #d74680;  
    text-align: center; 
}
.page6__header{
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.page6__text{
    font-size: 20px;
    font-style: italic;
    margin-top: 20px;   
}
.page6 img{
    height: 100px;
    width: 100px;
}
.page6__imgtxt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
}
.page6__imgtxt div{
    margin: 25px;
    width: 30%;
    display: flex;
    margin-bottom: 100px;
}
.page6 p{
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
}

/* *****************************
           Section_7
   ***************************** */

.page7 *{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.page7{   
    background-color: #3c5499;   
    color: #ffffff;
}
input, textarea{
    background-color: #273a71;
    color: #ffffff;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px;
}
.sendbutton input{
    background-color: #30bae7;
    width: 200px;
    height: 60px; 
    padding-top: 10%; 
}
.page7__header{
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    padding-bottom: 20px;
}
.page7__text{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    font-family: "Titillium Web";
    font-weight: 400;
}
.page7__forma {
    width: 80%;
    margin:0 auto;
}
form{
    padding:10px;
}
.namemail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.inputname, .inputmail{
   margin: 5% 0 3% 0;
    width: 45%;
}    
.namemail input{
    width: 100%;
}
.sendbutton{
    margin-top: 5%;
}
.sendbutton input{
    border-color: transparent;
    border-bottom-width: medium;
    border-bottom-color: skyblue   
}

/* *****************************
           footer
   ***************************** */

.footer{
    background-color: #344b8e;
    text-align: center;
    display: block;
    width: 100%;
    padding: 1%;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
}
footer a{
    text-decoration: none;
    padding:0 1% 0 1%;
}


/* *****************************
           Media
   ***************************** */

 @media (max-width: 823px) {

    section{
        height: auto;
    }
   
  .invitationtext p{
    font-size: 1.6rem;
    padding-top: 10px;
    margin-top: 10px;
    }
    .menu__list{
        display: block;
        text-align: end;
        margin-top: -80px;
        margin-right: 5px;
        float: right;
      }
      
 
    /* section_2 */     
    .page2__header h2{
        font-size: 2rem;
     }
    h3{
        font-size: .9rem;
     }
    p{
        font-size: .9rem;
     }
 .page2__imgtxt .f{
     display: inline-block;
     width: max-content;
    }
 .page2__imgtxt{
     display: flex;
     flex-wrap: wrap;
    }

   /* section_6 */
  .page2__header{
      font-size: 2rem;
    }
  .page6__imgtxt div{
      width: 80%;  
    }
   p{
    font-size: 1rem;
    }
   
/* section_7 */
  .namemail{
      flex-direction: column;
     }
   .namemail input{
       width: 220%;
   }
  .inputmessage .message{
     display: inline-block;
      width: 100%;
    }

/* footer */
   .footer{
         font-size: 1rem;
     }    
 }

/* media orientation: landscape */

@media (max-width: 823px ) 
   and (orientation: landscape) {

.page7 {
    height: auto; 
}

}


